@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

@font-face {
    font-family: 'Myriad Pro Bold';
    src: url('MyriadPro-Bold.eot');
    src: url('MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('MyriadPro-Bold.woff') format('woff'),
        url('MyriadPro-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato Heavy';
    src: url('Lato-Heavy.eot');
    src: url('Lato-Heavy.eot?#iefix') format('embedded-opentype'),
        url('Lato-Heavy.woff') format('woff'),
        url('Lato-Heavy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Light';
    src: url('Montserrat-Light.eot');
    src: url('Montserrat-Light.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-Light.woff') format('woff'),
        url('Montserrat-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato Semibold';
    src: url('Lato-SemiboldItalic.eot');
    src: url('Lato-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
        url('Lato-SemiboldItalic.woff') format('woff'),
        url('Lato-SemiboldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body,
html {
    font-family: "Lato", sans-serif;
    width: 1600px;
    height: 3634px;
    margin: 0 auto;
}

/*Header*/

.header,
.main-menu {
    position: relative;
    margin: 0 auto;
}

.main-menu {
    width: 1600px;
    height: 945px;
    background-blend-mode: darken;
    background: rgba(0, 0, 0, 0.8) url(../images/header.jpg) no-repeat;
}

.container-nav {
    margin: 0 auto;
    border-bottom: 1px solid #2F2E33;
    height: 89px;
    width: 1200px;
    display: flex;
}

.logo {
    width: 140px;
    margin-right: 387px;

    background: url(../images/logo.png) no-repeat 4px 32px;
}



.nav-bar {
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.nav-bar ul {
    justify-content: flex-end;
    display: flex;
}

.nav-bar ul li {
    margin-right: 66px;
    font-size: 16px;


}

.nav-bar ul li a {

    padding-top: 18px;
    padding-bottom: 35px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    z-index: 10;
}

.nav-bar ul li a:hover {
    border-bottom: 1px solid #fff;
}

.nav-bar ul li:nth-child(4) {
    margin-right: 65px;
}

.nav-bar ul li:nth-child(3) {
    margin-left: 2px;
}

.nav-bar ul li:nth-child(2) {
    margin-left: 1px;
}





.nav-bar ul li:last-child {
    margin-right: 0;
}

.nav {
    list-style-type: none;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 24px 1px;
}


/*Home*/
.home .container {
    text-align: center;
    position: relative;
    left: 1px;
    top: 258px;
}

.home p {
    font: 32px 'Georgia', sans-serif;
    font-style: italic;
    margin: 18px auto;
    line-height: 29px;
    color: #fff;
}

.home h2 {
    font-family: 'Myriad Pro Bold';
    font-size: 72px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    margin-right: 2px;
    margin-top: 71px;
    margin-bottom: -6px;
}

/*End Home*/


/*Register*/
.registration {
    display: block;
    overflow: hidden;
    text-align: center;
    background-color: #2FAC6C;
}

.registration .login {
    position: absolute;
    height: 120px;
    width: 53.7%;
    background: #21424A;
}

.registration .register {
    height: 120px;
    width: 50.3%;
    float: right;
    background: #21424A;
    transform: skewX(-13deg);
}

.login:hover,
.register:hover {
    background: #2FAC6C;
}

.register a,
.login a {
    position: relative;
    top: 47px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    display: inline-block;
}

.register a:first-child {
    right: 96px;
    transform: skewX(13deg);
}

.login a {
    left: 75px;
}


/*End Register*/
/*End Header*/


/*Domain*/
.domain-container {
    width: 100%;
    height: 562px;
    text-align: center;
}

.domain-container .domain-wrapper {
    max-width: 888px;
    margin: 0 auto;
}

.domain-container .domain-wrapper h3 {
    margin: 0;
    margin-top: 5px;
    padding-top: 82px;
    font-size: 24px;
    font-family: 'Lato Heavy';
    color: #383737;
}

.domain-container .domain-wrapper p {
    display: inline-block;
    margin-top: 20px;
    font-family: 'Montserrat Light';
    width: 100%;
    font-size: 15px;
    letter-spacing: 0.33px;
    color: #a2a2a2;
}

.form-search {
    position: relative;
    width: 100%;
    min-height: 48px;
    margin: 30px 0;
    margin-top: 33px;
    box-sizing: border-box;
    font-family: 'latosemibold', Tahoma, sans-serif;
    ;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.word-web {
    display: inline-block;
    margin: 0 auto;
    padding: 0 9px;
    font-size: 17px;
    color: #d2d2d2;
}

.form-search input {
    border: none;
}

.form-search .input {
    width: 732px;
    height: 32px;
    margin: 9px 0;
    padding: 0 17px;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 14px;
    color: #8686 0;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    -moz-box-sizing: border-box;
    outline: none;
}

.form-search .input:focus {
    color: #333;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2), inset 0 1px 2px rgba(0, 0, 0, 0.4);
    background: #E8E8E8;
}

select {
    position: relative;
    width: 75px;
    padding: 0 9px;
    font-size: 17px;
    color: #d2d2d2;
    cursor: pointer;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
}

.icon-angle-down {
    position: absolute;
    top: 18px;
    right: 15px;
    font-size: 15px;
}

.icon-angle-down:before {
    content: "\f107";
    color: #d2d2d2;
}

.grid-container.domain-pricelist {
    display: grid;
    width: 100%;
    height: 190px;
    margin: 40px auto;
    border: 1px solid #d9d9d9;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-container.domain-pricelist > .item-grid {
    position: relative;
    align-self: center;
    font-weight: 400;
    font-size: 14px;
    color: #cbcbcb;
}

.item-grid.domain:before,
.item-grid.period:before,
.item-grid.price-domain:before {
    content: '';
    position: absolute;
    top: -27px;
    right: 1px;
    width: 1px;
    height: 75px;
    background-color: #d9d9d9;
}

.item-grid.domain.botom-line:after,
.item-grid.period.botom-line:after,
.item-grid.price-domain.botom-line:after,
.item-grid.price-no.botom-line:after {
    content: '';
    position: absolute;
    bottom: -40px;
    right: 10px;
    width: 200px;
    height: 1px;
    background-color: #d9d9d9;
}

/*End Domain*/


/*Tarif Package*/
.package {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    justify-content: center;
    height: 790px;
}

.package-dotted {
    display: flex;
    align-self: center;
    width: 75%;
    top: -30px;
    border-bottom: 3px dotted #D7D7D7;
}

article.package-blocks {
    display: flex;
    margin: -281px 0 120px 200px;
    height: 540px;
}

.package-block {
    margin-right: 59px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: -3px;
    width: 15.4%;
    height: 97%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.package-block:first-child {
    border-top: 4px solid #F9D423;
    margin-left: -1px;
}

.package-grey {
    border-top: 4px solid #7E8C8D;
}

.package-red {
    border-top: 4px solid #FA5F41;
}

.package-green {
    border-top: 4px solid #18BC9A;
}

.block-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.block-list {
    list-style-type: none;
    margin-top: 0;
    padding: 5px 0 0 0;
    padding-bottom: 10px;
    border-top: 5px solid #DFDFDF;
    border-bottom: 1px solid #DFDFDF;
}

.block-item {
    display: flex;
    justify-content: space-between;
    padding: 9.5px;
}

.item {
    color: #B4B4B4;
}

.item-value {
    color: #F9D423;
}

.item-grey {
    color: #7E8C8D;
}

.item-red {
    color: #FA5F41;
}

.item-green {
    color: #18BC9A;
}

footer.block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100px;

    flex-grow: 1;
}

.block-price > .price {
    margin-top: 15px;
    font-size: 28px;
    font-weight: bold;
}

.price sup {
    font-size: 16px;
}

.price sub {
    font-weight: 200;
    font-size: 13px;
    color: #B4B4B4
}

.block-plan {
    border-top: 3px solid #F9D423;
    padding-top: 18px;
    padding-bottom: 5px;
    font-weight: bold;
    text-transform: uppercase;
}

.block .block-grey {
    border-top: 3px solid #7E8C8D;
}

.block .block-red {
    border-top: 3px solid #FA5F41;
}

.block .block-green {
    border-top: 3px solid #18BC9A;
}

svg.circular-chart {
    display: block;
    margin: 14px auto;
    width: 60px;
    height: 60px;
}

.circle {
    stroke: #F9D423;
    fill: none;
    stroke-width: 4;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
}

.package-grey .circle {
    stroke: #7E8C8D;
}

.package-red .circle {
    stroke: #FA5F41;
}

.package-green .circle {
    stroke: #18BC9A;
}

.icons {
    position: relative;
}

.anchor {
    background: url("../images/basic-package.png") no-repeat 18px 20px;
}

.halfstar {
    background: url("../images/half-star.png") no-repeat 18px 20px;
}

.star {
    background: url("../images/star.png") no-repeat 18px 20px;
}

.diamond {
    background: url("../images/diamond.png") no-repeat 18px 20px;
}


/*End Tarif Package*/


/*About Us*/
section.about-us {
    margin-top: -28px;
    padding: 40px;
    height: 325px;
}

.about-text {
    width: 44.6%;
    height: 186px;
    opacity: .7;
    font-size: 15px;
}

.about-text > p {
    opacity: .7;
    width: 422.1px;
    text-align: justify;
    line-height: 27.2px;
    margin-left: 160px;
    margin-top: 20px;
    font-size: 17px;
    font-family: "Lato Thin", sans-serif;
}

.about-text > h3 {
    font-weight: 500;
    font-size: 36px;
    word-spacing: 3px;
    margin: 17px 0 15px 160px;
}

.about-text h3 span {
    font-weight: 900;
}

.content {
    display: flex;
    padding-top: 57px;
}

.profiles {
    display: flex;
    width: 50%;
    height: 179px;
    margin-top: 24px;
    justify-content: space-around;
    border-left: 3px dotted #D7D7D7;
}

.profile li {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.profile:last-child {
    margin-right: 70px;
}

.profile li.name {
    font-weight: bold;
    margin-bottom: 6px;
    margin-top: 2px;
    font-size: 17px;
}

.profile li.prof {
    font-size: 15px;
    opacity: .5;
    margin-bottom: 10px;
}

.profile li.last_name {
    font-weight: bold;
    margin-bottom: 6px;
    margin-top: 2px;
    font-size: 17px;
}

.profile li.last_prof {
    font-size: 15px;
    opacity: .5;
    margin-bottom: 10px;
}

.profile li.horizontally {
    position: relative;
    right: 10px;
    display: inline-block;
    text-align: center;
    margin-left: 19px;
}

.profiles ul img {
    height: 90px;
    border-radius: 55%;
    border: 5px solid #E5E5E5;
    margin-bottom: 10px;
}

ul.profile {
    list-style-type: none;
    margin-top: 2px;
    margin-left: 35px;
}

.fa-facebook-f,
.fa-twitter,
.fa-link {
    color: #c4c4c4;
}

.fa-facebook-f:hover,
.fa-twitter:hover,
.fa-link:hover {
    color: #198ABC;
}

/*End About Us*/


/*Slider Block*/
.slider {
    margin-top: 8px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 190px;
    background: url('../images/slider-bg.png') no-repeat;
    color: #fff;
}

.slide {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    opacity: 1;
}

.quote {
    width: 923px;
    margin: 0;
    padding: 0;
    font-size: 20px;
    text-align: center;
}

.slider_text {
    font-weight: 900;
    margin-block-start: 5px;
    margin-block-end: 18px;
    line-height: 30px;
}

.info {
    display: flex;
    margin-left: -20px;
}

.info > p {
    margin: 0;
    margin-top: -4px;
    margin-left: 30px;
    padding-right: 13px;
    font-size: 20px;
    font-weight: 600;
    border-right: 1px solid #fff;
}

.icons {
    display: inline-flex;
    align-items: center;
}

.icons > ul {
    padding: 0 0 7px 20px;
    margin: 0;
}

.icon {
    display: inline-flex;
    list-style-type: none;
    cursor: pointer;
    position: relative;
    width: 6px;
    height: 6px;
    top: 1px;
    border-radius: 50%;
    border: 1px solid #fff;
    margin: 2px 5px;
}

.icons .active {
    background-color: #fff;
    margin-left: -6px;
}


/*End Slider*/


/*Features*/
.features {
    width: 100%;
    height: 342px;
}

.feature-blocks {
    display: flex;
    position: relative;
    right: 20px;
    align-items: center;
    padding: 82px 150px;
}

.feature-block {
    width: 700px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    display: flex;
}

.icon-flash {
    color: #fff;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 15px;
    height: 60px;
    width: 60px;
    font-size: 26px;
}

.icon-yellow {
    background-color: #F1C40F;
}

.icon-blue {
    background-color: #10AFF1;
}

.icon-grey {
    background-color: #95A5A5;
}

.icon-red {
    background-color: #F1540F;
}

.feature-item {
    margin: 0;
    flex-direction: column;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-item > h4 {
    font-size: 18px;
    font-weight: bold;
    margin: 5px 1px 6px 0;
}

.feature-item > p {
    font-size: 16.1px;
    text-align: center;
    opacity: .5;
    margin: 0 2px 0 0;
    line-height: 21px;
}

/*End Features*/


/*Footer*/
footer {
    height: 295px;
}

footer.footer {
    color: #d9d9d9;
    list-style-type: none;
    background-color: #2A2A2A;
}

.footer-header {
    width: 1200px;
    position: relative;
    left: 200px;
    border-bottom: 1px solid #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 0;
}

.footer-logo {
    margin: 1px 0 0 1px;
    padding: 0;
    height: 30px;
    width: 150px;
    background: url(../images/logo.png) no-repeat;
}

.footer-nav ul {
    margin: 0 3px;
    font-size: 13px;
    display: flex;
}

.footer-nav li {
    margin-left: 46px;
    list-style-type: none;
}

.footer-nav ul li a {
    color: #d9d9d9;
    text-decoration: none;
    text-transform: uppercase;
}

.footer-nav ul li a:hover {
    transition: .3s all;
    color: #fff;
}


.footer-content {
    padding: 20px 0;
    display: flex;
    line-height: 2.2;
    font-size: 20px;
}

.footer-content .footer-block {
    width: calc(100% / 3);
    margin-left: 30px;
    padding: 10px;
}

.footer-block .design_p {
    line-height: 1.78;
    margin-left: 160px;
    font-size: 15px;
    margin-top: 11px;
    margin-bottom: 1px;
}

.design_p > b {
    margin-left: 2px;
}

.footer-block > p {
    line-height: 1.78;
    margin-left: 160px;
    font-size: 15px;
    margin-top: 19px;
    margin-bottom: 1px;
}

.footer-map nav {
    display: flex;
    padding: 0 63px;
    margin-left: 3px;
    margin-right: -24px;
    border-right: 1px solid #d9d9d9;
    border-left: 1px solid #d9d9d9;
}

nav.footer-list ul {
    font-size: 14px;
    line-height: 1.5;
    width: 50%;
    margin-left: 2px;
    margin-right: 8px;
    list-style-type: none;
    margin-top: 15px;
}

nav.footer-list li {
    padding: 5px;
}

nav.footer-list li:hover {
    color: #fff;
}

.footer-list a {
    text-decoration: none;
    margin-left: 5px;
    color: #d9d9d9;
}

.footer-list a:hover {
    color: #fff;
    margin-left: 10px;
    transition: .3s margin-left;
}

.footer-contact {
    margin-bottom: 5px;
}

.footer-contact > ul {
    font-size: 14px;
}

.contact-icon {
    margin-right: 10px;
}

.footer-contact ul {
    margin-left: 20px;
    margin-top: 18px;
    list-style-type: none;
}

.footer-contact ul li a {
    text-decoration: none;
    color: #d9d9d9;
}

.footer-contact ul li a:hover {
    color: #fff;
    transition: .3s all;
}

/*End Footer*/
